.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.logo {
  width: 100%;
  max-width: 800px;
  transform: scale(0);
  opacity: 0;
  animation: scaleInCenter 1.8s ease-out forwards;
}

@keyframes scaleInCenter {
  to {
    transform: scale(1);
    opacity: 1;
  }
}
