.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.logo {
  width: 100%;
  max-width: 800px;
  opacity: 0;
}

/* Desktop: Chapdan markazga */
@media (min-width: 768px) {
  .logo {
    animation: slideInFromLeft 2s ease-out forwards;
    transform: translateX(-100%);
  }

  @keyframes slideInFromLeft {
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/* Mobil: Tepadan markazga */
@media (max-width: 767px) {
  .logo {
    animation: slideInFromTop 2s ease-out forwards;
    transform: translateY(-100%);
  }

  @keyframes slideInFromTop {
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
